.FileList {
  margin: 20px 0;
  min-height: calc(100vh - 200px);
  padding: 0 100px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: aliceblue;
  border-radius: 10px;
}
table {
}
